<ion-view title="人人花借款协议" id="contract">
    <ion-content style="padding:15px;">
        <h3 style="text-align:center">借款合同</h3>
        <h5>合同编号：{{data.serialno}}</h5>
        <h5>甲方（出借人）：{{data.borrow_from}}</h5>
        <h5>身份证号：{{data.borrow_from_idcard}}</h5>
        <h5>乙方（借款人）：{{data.realName}}</h5>
        <h5>身份证号：{{data.idcardNum}}</h5>
        <h5>鉴于：各方基于平等自愿原则，经协商一致，达成协议如下，以资共同遵守：</h5>
        <h4>一、借款基本信息</h4>
        <table>
            <tr>
                <td>借款本金数额</td>
                <td>{{data.req_money}}元</td>
            </tr>
            <tr>
                <td>月偿还金额</td>
                <td>{{data.req_money}}元</td>
            </tr>
            <tr>
                <td>还款方式</td>
                <td> 到期还本付息</td>
            </tr>
            <tr>
                <td>借款期限</td>
                <td>{{data.loan_term}}天</td>
            </tr>
            <tr>
                <td> 最后还款日</td>
                <td>{{data.finish_time}}（24：00前节假日不顺延）</td>
            </tr>
            <tr>
                <td>还款起止日期</td>
                <td>{{data.start_end}}</td>
            </tr>
        </table>
        <h4>二、双方权利和义务</h4>
        <ul>
            <li>2.1 乙方有权获得借款本金。</li>
            <li>2.2乙方有义务按照本协议的约定还款。</li>
        </ul>
        <h4>三、还款</h4>
        <ul>
            <li>3.1乙方承诺按照本协议第一条约定的时间和金额按期足额向甲方还款。</li>
            <li>3.2乙方的最后一期还款，在还款日（不得迟于24:00）或之前，必须包含全部剩余本金、利息及其他根据本协议产生的全部费用。</li>
            <li>3.3乙方提前偿还借款的，乙方仍应按合同约定的月偿还金额向甲方支付全额本金和利息。</li>
        </ul>
        <h4>四、逾期还款及债权转让</h4>
        <ul>
            <li>乙方逾期还款或者还款期限未满的，甲方均可在无需通知乙方的情况下将本协议项下的全部或部分债权转让给任何第三方（包括但不限于专业的商账追收公司等），该第三方亦可以将该债权自由转让至其他第三方而无需通知乙方，乙方对此无异议。甲方转让借款债权后，本协议项下其他条款不受影响，乙方需向借款债权受让人偿还剩余费用，乙方不得以未接到债权转让通知为由拒绝还款。</li>
        </ul>
        <h4>五、违约责任</h4>
        <ul>
            <li>5.1 协议各方均应严格履行合同义务，非经各方协商一致或依照本协议约定，任何一方不得解除本协议。</li>
            <li>5.2 任何一方违约，违约方应承担因违约使得其他各方产生的费用和损失，包括但不限于调查、诉讼费、律师 费等。</li>
        </ul>
        <h4>六、法律及争议解决</h4>
        <ul>
            <li>本协议的签订、履行、终止、解释均适用中华人民共和国法律，因本协议引起的或与本协议有关的任何争议，首先应当通过友好协商解决。各方协商不成或协商时间超过15个工作日，任何一方均有权向合同签署地人民法院提请诉讼。诉讼费用、律师费以及其他相关费用，由败诉方承担。</li>
        </ul>
        <h4>七、生效及其他</h4>
        <ul>
            <li>7.1本协议采用电子合同形式，合同效力受中华人民共和国法律保护。无论如何，只要乙方收到甲方的出借资金，则视为甲方、乙方完全接受本协议全部条款，本协议有效。</li>
            <li>7.2 本合同签署地为上海市嘉定区。</li>
        </ul>
        <h5 style="text-align:center">（以下为签章处，无正文）</h5>
        <h5>甲方（签字）：</h5>
        <h5>签署日期：</h5>
        <h5>乙方（签字）：</h5>
        <h5>签署日期：</h5>
    </ion-content>
</ion-view>