<ion-view title="关于人人花" id="about">
    <ion-content>
        <div class="d0">
            <img src="img/information_icon@3x.png" alt="">
            <h2>{{GLOBAL.version}}</h2>
        </div>
        <div class="d1 rrhback" ng-click="goiframe('app.renrenhua.com/rrhprotocolh5/registerProtocol.html')">人人花平台注册使用协议</div>
        <div class="d1 rrhback" ng-click="goiframe('app.renrenhua.com/rrhprotocolh5/creditAuthorizationProtocol.html')">征信调查授权协议</div>
        <div class="d1 rrhback" ng-click="goiframe('app.renrenhua.com/rrhprotocolh5/cost.html')">平台借款人费用表</div>
    </ion-content>
</ion-view>