<ion-view title="借款合同" id="contract231a">
    <ion-content>
        <h3 class="text-center">借款合同</h3>

        <h5>合同签订地及履行地：上海市浦东新区</h5>
        <h5>合同编号:{{data.serial_no}}</h5>
        <h5>甲方(出借人):{{data.party_a}}</h5>
        <h5>身份证号:{{data.party_a_id_card}}</h5>
        <h5>乙方(借款人):{{data.party_b}}</h5>
        <h5>身份证号:{{data.party_b_id_card}}</h5>

        <h5 class="textindent">特别提醒：鉴于借款人乙方（以下亦称“您”）向{{companyname}}（下称“我方”或“甲方”）所有和负责运营的平台申请账户（以下简称“账户”），我方诚恳地建议您：在我方网站或其他与我方相关的软件客户端（简称“我方平台”，包括但不限于人人花平台等）点击接受本合同之前，应事先了解清楚并充分理解本合同条款的全部内容。一旦您在任何我方平台点击接受本合同，即意味着您愿意向我方申请开立账户，并已阅读、充分理解和接受本合同所有条款，同意接受本合同约束。</h5>
        <h5 class="textindent"> 为充分维护您的合法权益，我方特提醒您特别关注本合同条款中的加粗及加下划线部分。如您无法准确理解或不同意本合同任一条款，请勿继续之后的流程；如有疑问，烦请致电我方客服电话【400-016-6868】。 </h5>

        <h4>第一条 借款基本信息</h4>
        <table>
            <tr>
                <td>借款本金数额</td>
                <td>{{data.req_money}}元</td>
            </tr>
            <tr>
                <td>到期偿还金额</td>
                <td>{{data.pay_month}}元</td>
            </tr>
            <tr>
                <td>还款方式</td>
                <td>到期还本付息</td>
            </tr>
            <tr>
                <td>借款期限</td>
                <td>{{data.loan_term}}天</td>
            </tr>
            <tr>
                <td>还款日</td>
                <td>{{data.finish_time}}</td>
            </tr>
            <tr>
                <td>还款起止日期</td>
                <td>{{data.start_end}}</td>
            </tr>
        </table>
        <h5>注：借款利率：日息万分之六。利息按照这个利率计算，计算结果取整数。</h5>

        <h4>第二条 借款申请</h4>
        <h5 class="textindent">借款人通过向我方指定平台申请，我方有权自主审核并决定是否同意向借款人发放本合同项下资金。借款人最终所借到的资金金额、利率、期限等取决于我方的审核结果。</h5>

        <h4>第三条 资金发放</h4>
        <h5 class="textindent">借款人应保证提供准确的账户信息，若借款人提供的账户信息有误、账户状态不正常、或者因借款人提供账户的开户银行汇款转账系统延误、故障或者因中国人民银行跨行转账系统延误、故障等原因导致发放的资金使用未能支付、延迟支付至借款人指定账户的，我方不承担责任，资金使用利息仍然按约定的资金使用起始日起算。若因上述原因导致资金发放失败的，借款人需重新申请。若因借款人提供的账户信息错误，给自身或我方造成损失的，借款人应自行承担损失或向我方承担赔偿责任。</h5>

        <h4>第四条 双方权利和义务</h4>
        <h5>(一)甲方的权利和义务</h5>
        <ul>
            <li>
                <h5>4.1.1 甲方有权自借款成功之日收取相关的利息。</h5>
            </li>
            <li>
                <h5>4.1.2 甲方有义务依约向乙方支付借款。</h5>
            </li>
        </ul>
        <h5>(二)乙方的权利和义务</h5>
        <ul>
            <li>
                <h5>4.2.1 乙方有权获得借款本金。</h5>
            </li>
            <li>
                <h5>4.2.2 乙方有义务按照本协议的约定还款。</h5>
            </li>
        </ul>

        <h4>第五条 还款</h4>
        <h5>5.1 乙方承诺按照本协议第一条约定的时间和金额按期足额向甲方还款。</h5>
        <h5>5.2 乙方的最后一期还款，在还款日(不得迟于24:00)或之前，必须包含全部剩余本金、利息及其他根据本协议产生的全部费用。</h5>
        <h5>5.3 乙方提前偿还借款的，乙方仍应按合同约定的月偿还金额向甲方支付全额本金和利息。</h5>
        <h5>5.4 如借款人每期还款金额不足的情形，需要特别约定还款金额中，本金、利息、逾期管理费等依次还款的顺序。</h5>

        <h4>第六条 承诺与保证</h4>
        <h5 class="textindent">除在本合同其他条款中已做出的承诺与保证之外，借款人在此做出如下承诺与保证：</h5>
        <h5>6.1 保证具备签署和履行本合同所需的完全民事权利能力和行为能力，已充分理解本合同条款内容，签署本合同系借款人真实意思表示。本合同构成对借款人具有约束力的协议，我方可以根据合同条款要求借款人履约或对借款人执行。</h5>
        <h5>6.2 借款人具有真实有效的身份证明，信用良好，有能力按期偿还资金使用相关款项，借款人在本合同下的债务以借款人个人财产和夫妻共同财产承担清偿责任，借款人债务承担方式已获得其配偶（如有）的同意。</h5>
        <h5>6.3 借款人已在申请文件中向我方说明了借款人个人有关信息，并将不时按我方的要求对借款人资产负债情况进行说明并提供必要文件和资料.借款人保证在申请资金使用及资金使用存续期间，借款人提供给我方的信息及文件、资料全部是真实、完整、准确、合法、有效的，并不存在任何隐瞒、虚假、欺诈或误导。</h5>
        <h5>6.4 在本合同终止之前，借款人变更姓名、户籍所在地、经常居住地、通讯地址、邮政编码、住宅电话、单位电话、手机号码或其他个人信息的，均须通过业务平台提交相关资料通知我方，并经我方确认。否则因此对因借款人未及时通知造成借款人损失的，借款人造成的损失应由借款人自身承担。因此给我方造成损失的，借款人应对损失进行赔偿。</h5>

        <h4>第七条 违约责任</h4>
        <h5>7.1 借款人以下任一事件均构成本条款所称“违约事件”：</h5>
        <h5>7.1.1 未能完全适当地履行其在本合同项下的任何承诺、保证、义务或责任；</h5>
        <h5>7.1.2 未按时足额偿还资金使用的资金使用本金、利息或其他应付款项的；</h5>
        <h5>7.1.3 使用虚假的身份、财产证明，或提供任何虚假信息获得本合同项下资金使用；或者隐瞒真实的重要情况，或不配合我方的调查、审查和检查；</h5>
        <h5>7.1.4 明确表示或以自己的行为表明将不履行本合同项下的义务；</h5>
        <h5>7.1.5 其他对我方债权产生严重不利影响的事件或行为。</h5>

        <h4>第八条 通知与送达</h4>
        <h5 class="textindent">借款人应确保向我方及在业务平台上提供的通讯地址、家庭住址、工作单位地址、手机号码、电子邮箱、传真号码等信息完全准确、有效。上述地址均为本合同涉及和有关的各类通知以及就本合同发生纠纷时相关文件和法律文书送达时的送达地址。电子送达与书面送达具有同等法律效力。</h5>
        <h5 class="textindent">各方在本合同项下发出的通知或文件，以及与本合同相关的争议解决机构（包括但不限于法院和仲裁机关等）发出的仲裁或诉讼文书等，如采用亲自或委托递交的方式，则以借款人或借款人收件代理人签收之日为送达日期；如采用快递或挂号信进行邮递的方式，则以邮件寄出之日后的第五个工作日为送达日期；如采用短信、APP、微信公众号或电子邮件的方式，则我方在争议解决机构系统记录的发出信息或电子邮件的时间即为送达时间。同时借款人不可撤销地的授权及同意</h5>

        <h4>第九条 合同组成</h4>
        <h5 class="textindent">本合同由本合同条款，借款人在业务平台填写的所有信息，以及业务平台各项规则与本资金使用相关的网络页面信息组成，各组成部分均具有法律效力，与本合同条款有冲突的以本合同条款为准。</h5>

        <h4>第十条 合同的生效、变更、解除</h4>
        <h5>10.1 本合同自您的账户开立之日起生效。</h5>
        <h5>10.2 我方有权不定期修改本合同，不时增加、减少或变更任何服务（包括其相关范围及使用条件）、我方服务收费表等。当本合同的相关变更涉及增加我方收费及/或影响您的责任及义务时，我方将通过我方平台的相应页面，至少提前三十天予以公布。</h5>
        <h5>10.3 除法律法规另有强制性规定外，如您在相关修改生效后继续使用相关账户服务，即视为同意该等变更或修订。</h5>
        <h5>10.4 本合同生效后，除本合同另有约定外，未与我方协商一致的情况下您不得变更或解除本合同。我方基于自身经营考虑，可以中断、终止本合同或其任何部分，但我方将尽最大可能减少或避免侵害您的合法权益。</h5>

        <h4>第十一条 法律及争议解决</h4>
        <h5 class="textindent">本合同适用中华人民共和国法律。本合同在履行过程中发生争议，可以协商解决，协商不成；向合同签订地及履行地人民法院起诉。在诉讼期间，本合同不涉及争议部分的条款仍须履行。</h5>

        <h4>第十二条 其他约定</h4>
        <h5>12.1 无论借款人的资金使用是否被批准或资金使用期限是否已终止，借款人同意我方可保留借款人的个人相关资料，我方可不予退还，同时承诺履行保密义务。</h5>
        <h5>12.2 除非有确实且充分的相反证据，否则业务平台及/系统生成的电子记账凭证、流水记录等是本合同项下委托清算资金发放及款项偿还情况的有效证据。</h5>
        <h5>12.3 我方和借款人声明，已完全理解本合同的条款(尤其是黑体字部分)及其他相关交易文件且同意受其约束，并同意承担由此带来的一切法律后果。</h5>

        <div>
            <h5 class="text-center">(以下为签章处，无正文)</h5>
            <div class="row row-no-padding">
                <div class="col col-50">
                    <h5>甲方签字:</h5>
                    <h5>签署日期:</h5>
                </div>
                <div class="col col-50">
                    <h5>乙方签字:</h5>
                    <h5>签署日期:</h5>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>