<ion-view title="认证成功" id="downloadchannel">
    <ion-content>
        <img src="img/download911.png" alt="" class="download" ng-click="do()">

        <!-- <img src="img/pass_img.png" alt="" class="img1">
        <h2>恭喜您已完成认证！</h2>
        <h3>马上下载APP，完成活体认证即申请成功啦！</h3>
        <button class="button bt1" ng-click="do()">马上下载人人花APP</button>
        <button class="button bt2" ng-click="more($event)">更多福利</button>
        <h4>下载安装成功后，一步完成申请，审核通过直接打款 到银行卡!</h4>
        <img src="img/diagram_img.png" alt="" class="img2"> -->
    </ion-content>
</ion-view>