<ion-view title="首页" id="home" hide-nav-bar='true'>
    <ion-content class="has-rrhtab" scrollbar-y="false">
        <img src="img/home_nav_message@3x.png" alt="" class="tomessage" ng-click="tomessage()">
        <div class="messageNum" ng-if="messageNum"></div>
        <ion-slide-box does-continue="true" slide-interval="3000" auto-play="true">
            <ion-slide ng-repeat="i in data.advertisement" ng-click="go(i.linkUrl)">
                <img ng-src="{{i.imgUrl}}" alt="">
            </ion-slide>
        </ion-slide-box>
        <div class="two">
            <div class="one o1" ng-click="goWithTokenwaveloginreg('borrowlist',{status:'1,2,4,9'})">审核中心</div>
            <div class="one o2" ng-click="goWithTokenwaveloginreg('prerepaymentlist',{status:''})">我要还款</div>
            <div class="line"></div>
        </div>
        <div class="product">
            <div class="hd">
                <img src="img/icon_yongtu_normal.png" alt="">
                <span class="s1">人人花</span>
                <span class="s2">极速借款</span>
            </div>
            <div class="bd">
                <div class="up">
                    <div class="money">{{data.amountGroup[0]|number:0}}</div>
                    <div class="moneytitle">借款金额 (元)</div>
                    <div class="item range">
                        <input type="range" name="volume" ng-model="data.amountGroup[0]" min="0" max="1000" ng-disabled="true">
                    </div>
                </div>
                <div class="down">
                    <img src="img/icon_yongtu_normal.png" alt="">
                    <span class="s1">借款期限 (天)</span>
                    <span class="s2" ng-repeat="i in data.periodGroup">{{i}}天</span>
                </div>
            </div>
            <div class="ft">
                <button class="button" ng-click="sub()">马上申请</button>
                <div class="info" ng-click="go('app.renrenhua.com/rrhprotocolh5/violate1.html')">怎样提额?</div>
            </div>
        </div>
    </ion-content>
    <div class="rrh-tab bar bar-footer row row-no-padding">
        <div class="col" ui-sref='home' ui-sref>
            <img ng-src="img/tabhome1.png" alt="">
            <h2 class="active">首页</h2>
        </div>
        <div class="col" ui-sref='prerepaymentlist'>
            <img ng-src="img/taborder.png" alt="">
            <h2>还款</h2>
        </div>
        <div class="col" ui-sref='my'>
            <img ng-src="img/tabmy.png" alt="">
            <h2>我的</h2>
        </div>
    </div>
</ion-view>