@import "../../common/util.scss";
.inv_reg_download_v130 {
  min-height: 100%;
  background-image: url("../../assets//inv130/3.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #100430;
  padding-top: p2r(221);
  text-align: center;
  &_logo {
    width: p2r(68);
    height: p2r(68);
    margin-bottom: p2r(28);
  }
  &_title {
    font-size: p2r(14);
    color: #ffffff;
    line-height: p2r(24);
    margin-bottom: p2r(50);
  }
  &_dp {
    width: p2r(8.5);
    margin-bottom: p2r(36);
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: drmp 1s infinite;
    animation: drmp 1s infinite;
  }
  &_btn {
    width: p2r(343);
    line-height: p2r(44);
    font-size: p2r(16);
    color: #ffffff;
    background-image: linear-gradient(-130deg, #fdaa24 0%, #f76b1c 100%);
    border-radius: p2r(4);
    display: inline-block;
    text-decoration: none;
  }
}

@-webkit-keyframes drmp {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}

@keyframes drmp {
  from {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  to {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
