@import "../../common/util.scss";
.inv_v130 {
  min-height: 100%;
  background-color: #100430;
  background-image: url("../../assets//inv130/1.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: p2r(190);
  padding-left: p2r(16);
  padding-right: p2r(16);
  padding-bottom: p2r(42);
  position: relative;
  &_act {
    padding: p2r(26) p2r(24) p2r(22) p2r(24);
    background: #121251;
    border-radius: 8px;
    margin-bottom: p2r(16);
    &_title {
      font-size: p2r(20);
      color: #ffffff;
      margin-bottom: p2r(20);
      text-align: center;
    }
    &_des {
      font-size: p2r(14);
      line-height: p2r(20);
      margin-bottom: p2r(20);
      color: #6169bc;
      &.mb0 {
        margin-bottom: 0;
      }
    }
    &_list {
    }
    &_item {
      height: p2r(111);
      border-radius: p2r(12);
      overflow: hidden;
      margin-bottom: p2r(16);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      position: relative;
      &_iwant {
        position: absolute;
        left: p2r(32);
        bottom: p2r(26);
        font-size: p2r(20);
        color: #ffffff;
      }
      &_num {
        position: absolute;
        font-size: p2r(12);
        top: p2r(25);
        right: p2r(25);
        color: #ffffff;
        width: p2r(107);
        text-align: center;
      }
      &_btn {
        line-height: p2r(34);
        width: p2r(107);
        border-radius: p2r(100);
        text-align: center;
        position: absolute;
        right: p2r(25);
        bottom: p2r(23);
        background: #ffffff;
        font-size: p2r(14);
        text-decoration: none;
        font-weight: bold;
      }
      &:nth-of-type(1) {
        background-image: url("../../assets//inv130/btc.png");
        a {
          color: #ff7307;
        }
      }
      &:nth-of-type(2) {
        background-image: url("../../assets//inv130/eth.png");
        a {
          color: #8196bf;
        }
      }
      &:nth-of-type(3) {
        background-image: url("../../assets//inv130/hash.png");
        a {
          color: #4d87ea;
        }
      }
    }
    &_ft {
      font-size: p2r(12);
      line-height: p2r(17);
      text-align: center;
      margin-top: p2r(20);
      color: #6169bc;
    }
    &_hr {
      height: 1px;
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
      background-color: #6169bc;
      margin-top: p2r(12);
      margin-bottom: p2r(15);
    }
    &_steps {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-line-pack: center;
      img {
        height: p2r(10);
        -ms-flex-item-align: center;
        align-self: center;
      }
    }
    &_step {
      font-size: p2r(13);
      line-height: p2r(20);
      color: #ffffff;
      text-align: center;
    }
  }
  &_ft {
    margin-top: p2r(19);
    font-size: p2r(12);
    line-height: p2r(17);
    color: rgba(97, 105, 188, 0.5);
    text-align: center;
  }
  &_rule {
    position: fixed;
    width: p2r(46);
    height: p2r(48);
    top: 0;
    right: p2r(16);
    z-index: 2;
    background-image: url("../../assets//inv130/hdgz.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: p2r(12);
    line-height: p2r(14);
    color: #ffffff;
    text-align: center;
    padding-top: p2r(6);
  }
  &_myreward {
    width: p2r(216/3);
    position: fixed;
    bottom: p2r(100);
    right: p2r(10);
    z-index: 2;
    img {
      width: 100%;
      display: block;
    }
  }
}

.mint-msgbox-wrapper#inv-v130-messagebox {
  .mint-msgbox {
    border-radius: p2r(12);
    width: p2r(300);
  }
  .mint-msgbox-header {
    padding: 0;
    height: p2r(48);
    .mint-msgbox-title {
      line-height: p2r(48);
      font-size: p2r(16);
      color: #232426;
    }
  }
  .mint-msgbox-btns {
    line-height: p2r(45);
    height: p2r(45);
    &::after {
      content: "";
      position: absolute;
      width: p2r(268);
      height: 1px;
      background-color: #eeeeee;
      left: 50%;
      margin-left: p2r(-134);
    }
    button {
      font-size: p2r(16);
      color: #4d87ea;
    }
  }
  .mint-msgbox-content {
    margin: 0 p2r(16);
    padding: p2r(16) 0;
    border-bottom: none;
    border-top: 1px solid #eeeeee;
    .mint-msgbox-message {
      text-align: left;
      p {
        font-size: p2r(14);
        line-height: p2r(26);
        color: #98999b;
      }
    }
  }
}
