#autonym {
    .scroll-content,
    .ionic-scroll {
        background-color: white;
    }
    .hideinputfile {
        opacity: 0;
        position: absolute;
        right: p2r(-2300);
        top: p2r(11);
    }
    .list {
        margin-bottom: 0;
    }
    .zhima {
        padding: p2r(38) 0 p2r(90) 0;
        text-align: center;
        img {
            width: p2r(76);
            margin-bottom: p2r(9);
        }
        h2,
        h3 {
            margin: 0;
            line-height: 1;
        }
        h2 {
            font-size: p2r(26);
            color: #40393A;
            margin-bottom: p2r(18);
        }
        h3 {
            font-size: p2r(13);
            margin-bottom: p2r(5);
            color: #ACACAC;
        }
        button {
            margin-top: p2r(45);
            width: p2r(345);
            height: p2r(45);
            min-height: initial;
            padding: 0;
            text-align: 0;
            line-height: p2r(45);
            display: inline-block;
            background: -webkit-linear-gradient(left, #FF7200, #F72828);
            background: linear-gradient(left, #FF7200, #F72828);
            font-size: p2r(17);
            color: white;
            border-radius: p2r(30);
        }
    }
    .cardimginput {
        height: p2r(82);
        border-bottom: 1px solid #E6E5E5;
        position: relative;
        .left {
            display: inline-block;
            margin-top: p2r(22);
            .l1 {
                font-size: p2r(15);
                line-height: p2r(15);
                color: #7F7F7F;
                margin-bottom: p2r(10);
            }
            .l2 {
                font-size: p2r(12);
                line-height: p2r(12);
                color: #ACACAC;
            }
        }
        .right {
            display: inline-block;
            width: p2r(90);
            height: p2r(30);
            margin-top: p2r(11);
            margin-right: p2r(23);
            float: right;
            .suc {
                position: absolute;
                width: p2r(20);
                right: p2r(35);
                bottom: p2r(10);
            }
            .cardimg {
                width: p2r(91);
                height: p2r(60);
            }
        }
        .req {
            color: #FF5C5C;
            font-size: p2r(14);
            padding-top: p2r(6);
            margin-right: p2r(5);
        }
        .notreq {
            color: transparent;
            font-size: p2r(14);
            padding-top: p2r(6);
            margin-right: p2r(5);
        }
    }
    .cardinput {
        border: none;
        border-bottom: 1px solid #E6E5E5;
        .req {
            color: #FF5C5C;
            font-size: p2r(14);
            padding-top: p2r(6);
            margin-right: p2r(5);
        }
        .input-label {
            font-size: p2r(14);
            color: #7F7F7F;
        }
        input {
            height: p2r(50);
            font-size: p2r(14);
            color: #7F7F7F;
        }
    }
    .out {
        padding-left: p2r(16);
    }
    .warn {
        font-size: p2r(13);
        line-height: p2r(36);
        background-color: #FFCD40;
        padding-left: p2r(5);
        color: white;
    }
    .cardimg {
        width: p2r(359);
        border-bottom: 1px solid #E6E5E5;
        padding-right: p2r(16);
        .col {
            text-align: center;
        }
        &text {
            h2 {
                line-height: 1;
                margin: 0;
                font-size: p2r(16);
                color: #303030;
                margin-bottom: p2r(10);
            }
            h3 {
                line-height: 1;
                margin: 0;
                font-size: p2r(13);
                color: #7F7F7F;
            }
        }
        &img {
            padding-top: p2r(18);
            padding-bottom: p2r(18);
            position: relative;
            .img {
                width: p2r(118);
                height: p2r(73);
            }
            .suc {
                position: absolute;
                width: p2r(20);
                right: p2r(30);
                bottom: p2r(30);
            }
            .camera {
                width: p2r(59);
                height: p2r(42.91);
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: p2r(-28.5);
                margin-top: p2r(-21.455);
            }
            .hideinputfile {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
            }
        }
    }
}

.orderstep {
    width: p2r(375);
    height: p2r(184);
    display: block;
}