// 公用sass变量

$image_path: "/static/images/";
$color_path: #0384FF;
$input_common: #eeeeee;
$input_hover: #dddddd;
$input_focus: #6ECC66;
//$input_error: 1px solid red;
$table_list_seven: 75px, 336px, 120px, 130px, 130px, 133px, 154px, 118px;
$submit_order_list: 35px, 390px, 144px, 144px, 153px, 166px, 166px;

$order_list_seven: 120px, 80px, 60px, 100px, 180px, 100px, 100px, 124px;
$feature_list_seven: 97px, 110px, 98px, 82px, 167px, 167px, 143px;
$userrecord_list_seven: 203px, 128px, 110px, 110px, 203px, 110px;
$role_list_seven: 110px, 110px, 300px, 110px, 234px;
$color_list_seven: #937fe2, #e55646, #77c534, #0497ff, #937fe2, #e55646, #77c534, #0497ff, #937fe2, #e55646;

$order_list_eleven: 40px, 120px, 60px, 60px, 84px, 80px, 70px, 70px, 100px, 156px, 96px;
$order_list_submitorderdata: 100px, 100px, 100px, 250px, 100px, 100px, 100px;
$submitdata: 120px, 150px, 80px, 80px, 70px, 80px, 100px, 80px, 100px;
$collection: 80px, 90px, 90px, 87px, 97px, 120px, 120px, 80px, 100px;
$m_payOrderSize: 117px, 100px, 100px, 77px, 106px, 200px, 77px, 94px, 70px, 60px;

$text_color_c1: #333333;
$text_color_c2: #666666;
$text_color_c3: #999999;
$text_color_c4: #cccccc;

$line_color_c1: #cccccc;
$line_color_c2: #eeeeee;
$line_color_c3: #E6E6E6;

$back_color_c1: #f5f5f5;
$back_color_c2: #fafafa;

$main_color: #70cc52;
$sub_color_money: #fc5f02;
$sub_color_error: #fc5f02;
$sub_color_success: #fc5f02;
$sub_color_remind: #fc5f02;



