body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /** iOS h5页面上下滑动卡顿问题  **/
  -webkit-overflow-scrolling: touch;
}

body,
button,
input,
select,
textarea {
  border: 0;
  font: normal 14px/1.5 "PingFang SC", "Heiti SC", "Arial", "Lucida Grande", Verdana, STXhei, "Microsoft YaHei", "hei";
  outline: none;
  background: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}


textarea {
  -webkit-appearance: none;
}

ul, ol, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 24px;
  line-height: 32px;
}

h2 {
  font-size: 22px;
  line-height: 30px;
}

h3 {
  font-size: 18px;
  line-height: 24px;
}

h4 {
  font-size: 18px;
  line-height: 24px;
}

h5 {
  font-size: 16px;
  line-height: 22px;
}

h6 {
  font-size: 14px;
  line-height: 20px;
}

.html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
width: 100%;
}
