.swiper-pagination {
  position: relative;
  text-align: left;
}
.swiper-pagination-bullet {
  margin-left: 8px;
  background: #FFFFFF;
  opacity: 0.5;
}
.swiper-pagination-bullet-active {
  opacity: 1;
}