#my {
    .hideinputfile {
        top: 0;
        right: -9999px;
        position: absolute;
        opacity: 0;
    }
    .up {
        height: p2r(265);
        position: relative;
        .bg {
            height: p2r(202);
            background-color: #f44e1c;
        }
        .contain {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-image: url(img/kapian_bg.png);
            background-size: p2r(375) auto;
            background-repeat: no-repeat;
            background-position: left bottom;
        }
        .needlogin {
            text-align: center;
            width: p2r(200);
            margin-left: auto;
            margin-right: auto;
            margin-top: p2r(122);
            .title {
                img {
                    width: p2r(24);
                    vertical-align: middle;
                }
                margin-bottom: p2r(32);
                height: p2r(17);
                line-height: p2r(17);
                font-size: p2r(17);
                color: #7F7F7F;
            }
            .bts {
                button {
                    width: p2r(90);
                    height: p2r(30);
                    min-height: initial;
                    line-height: p2r(30);
                    border-radius: p2r(30);
                    font-size: p2r(14);
                    &.reg {
                        color: #FB5E15;
                        border: 1px solid #FB5E15;
                        background-color: transparent;
                    }
                    &.login {
                        color: white;
                        background: -webkit-linear-gradient( left, #F72828, #FF7200);
                        background: linear-gradient( left, #F72828, #FF7200);
                        border: none;
                    }
                }
            }
        }
        .neednotlogin {
            width: 100%;
            text-align: center;
            margin-top: p2r(60);
            position: relative;
            .info {
                height: p2r(40);
                line-height: p2r(40);
                text-align: left;
                padding-left: p2r(40);
                margin-bottom: p2r(27);
                img {
                    height: p2r(40);
                    width: p2r(40);
                    vertical-align: top;
                    margin-right: p2r(5);
                    border-radius: 50%;
                }
                .i1 {
                    color: #303030;
                    font-size: p2r(15);
                    margin-right: p2r(5);
                }
                .i2 {
                    margin-right: p2r(5);
                    text-align: center;
                    padding-left: p2r(7);
                    padding-right: p2r(7);
                    display: inline-block;
                    background-color: #FEBA27;
                    color: white;
                    line-height: p2r(23);
                    font-size: p2r(11);
                    border-radius: p2r(10);
                }
                .i3 {
                    color: #303030;
                    font-size: p2r(13);
                }
            }
            .money {
                h2,
                h3 {
                    margin: 0;
                }
                h2 {
                    font-size: p2r(33);
                    line-height: p2r(33);
                    color: #F72828;
                    margin-bottom: p2r(10);
                }
                h3 {
                    color: #ACACAC;
                    font-size: p2r(12);
                    line-height: p2r(12);
                    margin-bottom: p2r(19);
                }
                button {
                    width: p2r(90);
                    height: p2r(30);
                    min-height: initial;
                    line-height: p2r(30);
                    text-align: center;
                    font-size: p2r(14);
                    color: white;
                    background: -webkit-linear-gradient( left, #FF7200, #F72828);
                    background: linear-gradient( left, #FF7200, #F72828);
                    border: none;
                    border-radius: p2r(20);
                }
            }
        }
    }
    .mid {
        background-color: white;
        .col {
            height: p2r(65);
            font-size: p2r(15);
            line-height: p2r(65);
            color: #303030;
            text-align: center;
            border-bottom: 1px solid #F4F4F4;
            &:nth-child(odd) {
                border-right: 1px solid #F4F4F4;
            }
            img {
                height: p2r(25);
                vertical-align: p2r(-5);
                margin-right: p2r(5);
            }
        }
    }
    .down {
        margin-top: p2r(10);
        .out {
            line-height: p2r(50);
            font-size: p2r(15);
            color: #303030;
            background-color: white;
            padding-left: p2r(25);
            margin-bottom: 1px;
        }
    }
}