#order {
    .threeup {
        text-align: center;
        background-color: white;
        margin-top: 1px;
        img {
            height: p2r(30);
            margin-top: p2r(12);
            margin-bottom: p2r(12);
        }
        h2 {
            line-height: 1;
            margin: 0;
            font-size: p2r(13);
            color: #303030;
        }
        h3 {
            line-height: 1;
            margin: 0;
            font-size: p2r(13);
            color: #F83C3C;
            margin-top: p2r(10);
            margin-bottom: p2r(11);
        }
    }
    .threecenter {
        font-size: p2r(13);
        color: #818181;
        line-height: p2r(36);
        padding-left: p2r(13);
    }
    .threedown {
        padding-left: p2r(14);
        padding-right: p2r(14);
        .in {
            width: p2r(167);
            height: p2r(85);
            background-color: white;
            float: left;
            margin-bottom: p2r(10);
            position: relative;
            box-sizing: border-box;
            padding-left: p2r(24);
            padding-top: p2r(24);
            border-radius: p2r(5);
            .name {
                color: #ACACAC;
                font-size: p2r(12);
            }
            .count {
                color: #505050;
                font-size: p2r(23);
                margin-bottom: p2r(10);
            }
            img {
                width: p2r(34);
                position: absolute;
                top: p2r(25);
                right: p2r(15);
            }
            &:nth-child(odd) {
                margin-right: p2r(10);
            }
        }
    }
}