/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-color: #f5f5f5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

/*清除ie输入框删除按钮及显示密码*/
::-ms-clear,
::-ms-reveal {
  display: none;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
::-ms-expand {
  display: none;
}

/*去除type=number的自带按钮*/
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="button"],
input[type="submit"],
input[type="search"],
input[type="reset"] {
  appearance: none;
}

input[type="number"] {
  appearance: textfield;
}

textarea {
  -webkit-appearance: none;
  appearance: none;
}

/*修改分页器样式*/
.swiper-pagination-bullet {
  background: #fff;
  display: inline-block;
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  background: #fff;
  width: 30px;
  height: 12px;
  border-radius: 6px;
}

ul, ol, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 24px;
  line-height: 32px;
}

h2 {
  font-size: 22px;
  line-height: 30px;
}

h3 {
  font-size: 18px;
  line-height: 24px;
}

h4 {
  font-size: 18px;
  line-height: 24px;
}

h5 {
  font-size: 16px;
  line-height: 22px;
}

h6 {
  font-size: 14px;
  line-height: 20px;
}

.html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

