@import "../../other/util.scss";
.page_live {
    padding: p2r(22);
    &_item {
        &_up {
            line-height: p2r(16);
            margin-bottom: p2r(7);
            .circleimg {
                width: p2r(16);
                height: p2r(16);
                vertical-align: middle;
            }
            span {
                display: inline-block;
            }
            .time {
                font-size: p2r(16);
                color: #999999;
                margin-left: p2r(12);
                margin-right: p2r(8);
            }
            .name {
                font-size: p2r(16);
                color: #000000;
            }
            .stars {
                float: right;
                font-size: 0;
                margin-top: p2r(3);
                img {
                    width: p2r(11);
                    margin-left: p2r(4);
                }
            }
        }
        &_down {
            border-left: 2px solid #eeeeee;
            padding-bottom: p2r(42);
            margin-left: p2r(6);
            padding-left: p2r(20);
            &_title {
                font-size: p2r(16);
                color: #000000;
                line-height: 1.5;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                margin-bottom: p2r(8);
            }
            &_info {
                font-size: p2r(16);
                color: #696969;
                line-height: 1.66;
                margin-bottom: p2r(13);
                font-weight: 400;
            }
            &_percent {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                &_center {
                    -webkit-box-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                    margin-left: p2r(8);
                    margin-right: p2r(8);
                    &_up {
                        height: p2r(14);
                        padding-top: p2r(2);
                        &_right {
                            font-size: p2r(12);
                            color: #4d87ea;
                            float: right;
                        }
                        &_left {
                            font-size: p2r(12);
                            color: #f95453;
                            float: left;
                        }
                    }
                    &_down {
                        margin-top: p2r(5);
                        height: p2r(10);
                        background: #4d87ea;
                        border-radius: p2r(5);
                        &_value {
                            height: p2r(10);
                            display: inline-block;
                            background: #f95453;
                            border-radius: p2r(5);
                            width: p2r(10);
                            vertical-align: top;
                        }
                    }
                }
                &_left,
                &_right {
                    text-align: center;
                    img {
                        height: p2r(14);
                        margin-bottom: p2r(2);
                    }
                    font-size: p2r(10);
                    font-weight: 400;
                }
                &_left {
                    color: #f95453;
                }
                &_right {
                    color: #4d87ea;
                }
            }
        }
    }
    .loadmore {
        width: p2r(84);
        height: p2r(30);
        line-height: p2r(30);
        text-align: center;
        background-image: -webkit-gradient(linear, right top, left top, from(#68a8ff), color-stop(99%, #4d87ea));
        background-image: linear-gradient(-90deg, #68a8ff 0%, #4d87ea 99%);
        -webkit-box-shadow: 0 4px 4px 0 rgba(77, 135, 234, 0.21);
        box-shadow: 0 4px 4px 0 rgba(77, 135, 234, 0.21);
        border-radius: p2r(100);
        font-size: p2r(14);
        color: #ffffff;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}