<ion-view title="我的优惠券" id="ticket">
    <div class="bar bar-subheader">
        <div class="row row-no-padding" ng-class="{'s1':s==2,'s2':s==3,'s0':s==0}">
            <div class="col col-50" ng-class="{'active':s==0}" ng-click="changes(0)">
                可用
            </div>
            <div class="col col-50" ng-class="{'active':s==2}" ng-click="changes(2)">
                已用
            </div>
            <!-- <div class="col col-33" ng-class="{'active':s==3}" ng-click="changes(3)">
                已过期
            </div> -->
        </div>
    </div>
    <ion-content class="has-subheader has-footer">
        <div class="nulldata" ng-if="data&&data.length==0">
            <img src="img/noticket_img@3x.png" alt="">
            <h2>暂无优惠券</h2>
        </div>
        <div class="cpitem" ng-repeat="i in data" ng-class="{'red':i.type=='0','blue':i.type=='1','orange':(i.type!=0&&i.type!=1),
        'grey':s==2,'greyhis':s==3}">
            <div class="left">
                <h2 class="money">
                    {{i.deduction}}
                </h2>
                <div class="type">
                    {{types[i.source]}}
                </div>
            </div>
            <div class="right">
                <div class="typename">{{i.type==0?'还款抵用券 ':'还款折扣券'}}
                    <!-- <span>券</span> -->
                </div>
                <div class="des">{{i.notes}}</div>
                <div class="date">{{i.begin_time}}-{{i.end_time}}</div>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer" ui-sref='tickethis'>
        <div class="in">查看已过期优惠券
            <img src="img/arrows_icon@3x.png" alt="">
        </div>
    </div>
</ion-view>