<ion-view title="我的认证" id="authlist">
    <ion-content>
        <div class="warn">完成认证越多,借款成功率越高</div>
        <div class="out rrhback" ng-click="go(i)" ng-repeat="i in data.list" ng-if="i.title!='京东认证'&&i.title!='支付宝认证'&&i.title!='淘宝认证'">
            <div class="authitem">
                <img ng-src="{{i.icon}}" alt=""> {{i.title}}
                <span ng-if="i.status==0" class='s0'>未完成</span>
                <span ng-if="i.status==1" class='s1'>认证中</span>
                <span ng-if="i.status==2" class='s2'>认证失败</span>
                <span ng-if="i.status==3" class='s3'>已完成</span>
                <span ng-if="i.status==4" class='s4'>已过期</span>
            </div>
        </div>
    </ion-content>
</ion-view>