<ion-view title="服务费收取协议" id="contract231b">
    <ion-content>
        <h3 class="text-center">服务费收取协议</h3>

        <h4>合同签订地及履行地:上海市浦东新区</h4>
        <h4>合同编号:{{data.serial_no}}</h4>
        <h4>甲方:{{companyname}}</h4>
        <h4>乙方:</h4>
        <h4 class="textindent">借款人姓名:{{data.party_b}}</h4>
        <h4 class="textindent">身份证号码:{{data.party_b_id_card}}</h4>
        <h4>鉴于：本网站由{{companyname}}（下称“甲方平台”或“甲方 ”）所有和负责运营。依据相关法律法规规定，借款人支付的本金和利息归出借人所有，甲方平台与借款人另行约定收取服务费。本协议双方为甲方平台与上述借款人即乙方，鉴于乙方已经在甲方平台注册，并同意《注册使用服务协议》，甲方平台根据《注册使用服务协议》的相关约定，以及乙方在甲方平台借款过程中产生的费用事宜，与乙方签署本协议，本协议对甲乙双方均具有合同效力。</h4>

        <h4>第一条 乙方承诺与保证</h4>
        <ul>
            <li>
                <h5>1、乙方保证其为具有完全民事权利能力和完全民事行为能力的自然人、法人或其他民事主体，有权签订并履行本协议。</h5>
            </li>
            <li>
                <h5>2、乙方应根据甲方平台的要求如实向甲方平台提供本人情况（如为个人则包括但不限于姓名、身份证号、学历、联系方式、联系地址、职业信息、联系人信息等；如为企业或其他组织则包括但不限于企业名称、统一社会信用代码、 住所、联系方式等信息）以及借款用途等相关信息；乙方承诺并保证其向甲方平台提供的所有信息均为真实、完整和有效的。</h5>
            </li>
            <li>
                <h5>3、乙方同意，甲方有权获得乙方提供给甲方第三方合作平台的个人信息。</h5>
            </li>
            <li>
                <h5>4、乙方提供在所有网络借贷信息中介机构未偿还借款的信息。</h5>
            </li>
            <li>
                <h5>5、乙方确保自身具有与借款金额相匹配的还款能力并按照合同约定还款。</h5>
            </li>
        </ul>

        <h4>二、服务费用表</h4>
        <table>
            <tr>
                <td>费用类别</td>
                <td>收费金额或比例</td>
                <td>收取方式</td>
                <td>收费依据</td>
                <td>说明</td>
            </tr>
            <tr>
                <td>服务费</td>
                <td>{{data.rate_fee}}</td>
                <td>代扣</td>
                <td>《注册使用服务协议》、《借款人费用表》</td>
                <td>乙方同意，在还款时除《借款合同》中约定的应还款项，还须包含该部分约定的借款服务费。</td>
            </tr>
            <tr>
                <td>运营费</td>
                <td>{{data.operation_fee}}</td>
                <td>代扣</td>
                <td>《注册使用服务协议》、《借款人费用表》</td>
                <td>乙方同意，借款资金到达借款人银行卡时，按照前述约定比例或金额及相关协议划扣该运营费用；若借款人在合同期间内逾期还款，平台运营费将按照规则扣除一定比例的运营费用；如借款人在合同期间内不存在逾期还款的情况，平台运营费全额退还。</td>
            </tr>
            <tr>
                <td>逾期管理费</td>
                <td>计算方式见逾期管理费说明</td>
                <td>直还</td>
                <td>《注册使用服务协议》、《借款人费用表》</td>
                <td>乙方同意，若乙方未能依约还款，则在下一次还款时，甲方委托第三方支付机构或者银行按照前述约定比例直接划扣该逾期管理费，直至全部还清。</td>
            </tr>
        </table>
        <h3>逾期管理费说明 :</h3>
        <table>
            <tr>
                <td>日逾期费率</td>
                <td>2%</td>
            </tr>
            <tr>
                <td>滞纳金</td>
                <td>5元/天</td>
            </tr>
            <tr>
                <td>逾期管理费（元）</td>
                <td>逾期借款本金 × 日逾期费率 + 滞纳金 × 逾期天数</td>
            </tr>
        </table>

        <h3>三、违约责任</h3>
        <ul>
            <li>
                <h5>1、本协议各方均应严格履行本协议义务，任何一方违约，违约方应承担因违约使守约方产生的费用和损失，包括但不限于调查费、诉讼费、律师费等。</h5>
            </li>
            <li>
                <h5>2、如乙方逾期还款，且出借人授权甲方或甲方指定的第三方上门向乙方催收的， 乙方应按人民币2,000元/次/人的标准向甲方或甲方指定的第三方支付上门催收费用；且乙方还应当承担上门催收过程中产生的差旅费，包括但不限于交通费、食宿费等。</h5>
            </li>
        </ul>

        <h3>第四条 其他</h3>
        <ul>
            <li>
                <h5>1、因本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，向合同签订地及履行地人民法院起诉。在诉讼期间，本合同不涉及争议部分的条款仍须履行。</h5>
            </li>
            <li>
                <h5>2、甲方平台在法律许可范围内对本服务协议享有最终的解释权。</h5>
            </li>
        </ul>

        <div>
            <h5 class="text-center">(以下为签章处，无正文)</h5>
            <h5>甲方签字:</h5>
            <h5>签署日期:</h5>
            <h5>乙方签字:</h5>
            <h5>签署日期:</h5>
        </div>
    </ion-content>
</ion-view>