$primary: #303137;
$secondary: #a99067;
$weak-warning: #ffe6a1;
$orange: #fd7220;
$warning: #fdaa24;
$success: #2bb56f;
$danger: #f95453;
$info: #4d87ea;

$text-primary: #303137;
$text-regular: #606166;
$text-secondary: #969699;
$text-placeholder: #cccdcf;

$bg-primary: #f5f5f7;
$bg-regular: #fafafa;

$line-primary: #dedee0;
$line-regular: #edeef0;
